<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout.html :: email(#{restricted-licence.preheader}, ~{::content})}">
<body>
<div th:fragment="content">
  <h1 th:style="${s.h1}" th:text="#{__${'restricted-licence.heading.' + what}__}">Heading</h1>
  <p th:style="${s.p}" th:text="#{__${'restricted-licence.body.' + what}__(#{__${'restricted-licence.class.' + ageClass}__}, ${businessName}, ${expiresOn})}">Body</p>
  <p th:if="${rejectReason != ''}" th:style="${s.p}" th:text="#{__${'restricted-licence.why.' + rejectReason}__}">Reason</p>
  <p th:if="${note != ''}" th:style="${s.notice}" th:text="#{restricted-licence.note(${note})}">Note</p>
  <p th:style="${s.p}" th:text="#{__${'restricted-licence.next.' + what}__}">Next</p>
  <th:block th:replace="~{button.html :: button(#{restricted-licence.cta}, ${link})}"/>
</div>
</body>
</html>
